# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

node_modules

# dependencies
/client/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# server
/server/node_modules

# backend
/backend/compiled_data.json
/backend/node_modules
/backend/scripts/reqs/
/backend/scripts/env/
backend/scripts/.idea/workspace.xml
backend/scripts.idea/vcs.xml
backend/scripts/.idea/modules.xml
backend/scripts/.idea/misc.xml
backend/scripts/.idea/inspectionProfiles/profiles_settings.xml
backend/scripts/.idea/backend.iml
backend/scripts/__pycache__/extract_location_details.cpython-37.pyc
backend/.idea/inspectionProfiles/Project_Default.xml
backend/.idea/vcs.xml
backend/.idea/workspace.xml
backend/.idea/backend.iml
backend/.idea/inspectionProfiles/profiles_settings.xml
backend/.idea/misc.xml
backend/.idea/modules.xml
backend/scripts/__pycache__/FBI_Crime_Data.cpython-36.pyc
backend/scripts/__pycache__/extract_location_details.cpython-36.pyc
backend/scripts/compiled_data.txt
backend/compiled_data.txt
