.flagbutton {
    margin-top: 15px;
    background-color: rgb(250, 112, 87);
    padding: 1%;

}

.flagbutton:hover {
    background-color: rgb(192, 72, 51); /* Green */
    color: white;
  }

.header-redirect {
    color: black;
}

.flagbuttonimg {
    max-width:10%;
    padding: none;
    margin: none;
    height:auto;

}

.langimage {
    width: 50%;
    height: 50%;
}