.flagbutton {
    background-color: cadetblue;
    padding: 1%;

}

.flagbutton:hover {
    background-color: rgb(253, 104, 77); /* Green */
    color: white;
  }


.flagbuttonimg {
    max-width:10%;
    padding: none;
    margin: none;
    height:auto;

}