#title {
    margin-top: 3em;
    margin-bottom: 1em;
    padding: 0px;
}

#line {
    margin-bottom: 2.5em;

}

.seperator {
    border: 1px solid black;
}

.subtitle {
    color: black;
    margin-bottom: 0.5em;
    padding: 0px;

    
}
.preferencesBlock {
    margin-bottom: 2.5em;
}

.infopara {
    margin-top: 10px;
    margin-bottom: 25px;

}

.pref-button {
    display:flex;
    justify-content:center;
    align-items:  center;
    margin-right: 10px;
}

.checkboxcontainer {
    margin-right: 2em;
    font-size: medium;
    

}
.mycheckbox {
    

}


.langboxes {
    margin-bottom: 5%;

}

.checkboxtext {
    
}