#title {
    margin-top: 3em;
    margin-bottom: 1em;
    padding: 0px;
}

#line {
    margin-bottom: 2.5em;

}
.preferencesBlock {
    margin-bottom: 2.5em;
}

.infopara {
    margin-top: 10px;
    margin-bottom: 25px;

}

.pref-button {
    display:flex;
    justify-content:center;
    align-items:  center;
    margin-right: 10px;
}